<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete user page</title>
</head>
<body>
    <form action="/user/<%= user.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <h1>Are you sure you want to delete this user =  <%= user.username %></h1>
        <textarea name="password" id="" placeholder="Enter your password"></textarea>
        <button>Delete</button>
        <button>Cancel</button>
    </form>
</body>
</html>